/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* css variables */
:root {
  --primary-color: #334553;
  --secondary-color: #93999d;
  --btn-color: #ff843e;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button,
input,
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: 700;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: unset;
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section{
  padding: 50px 0;
}

input,
button,
select{
  border: none;
  background: none;
}
